/*Fuentes*/
@font-face {
  font-family: pokemon;
  src: url(../letras/ketchum.otf); }

@font-face {
  font-family: gameboy;
  src: url(../letras/pokemon-classic.ttf); }

* {
  margin: 0; }

.main {
  background-color: #0a141e;
  width: 1600px;
  height: 100vh;
  padding: 3rem 0; }
  .main h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: gameboy; }
  .main__nav {
    display: flex;
    justify-content: space-around; }
    .main__nav a {
      text-decoration: none;
      color: white;
      font-family: gameboy;
      font-weight: bold; }

.inventory {
  display: grid;
  grid-template-areas: 'auto auto auto';
  justify-content: space-around;
  padding-top: 2rem; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 1rem; }

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  border-radius: 1rem;
  backface-visibility: hidden; }

.flip-card-front {
  background-color: #bbb;
  color: black; }

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .flip-card-back p {
    font-size: 1.5rem;
    font-family: gameboy; }
  .flip-card-back h1 {
    font-size: 2rem; }

.captura {
  display: flex;
  justify-content: center;
  height: 768px;
  background-color: black; }
  .captura__main {
    margin-top: 6rem;
    width: 1024px;
    background-image: url("../img/campo.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white; }
    .captura__main__section {
      width: 1024px;
      height: 768px;
      display: grid;
      grid-template-areas: 'BarEnemy ImgEnemy' 'ImgTrainer ImgEnemy' 'ImgTrainer BarTrainer' 'footer footer'; }
      .captura__main__section__bar {
        background-color: white;
        width: 20rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid black 3.5px;
        border-radius: 0.3rem; }
        .captura__main__section__bar__enemy {
          margin-top: 4rem;
          margin-left: 6rem; }
        .captura__main__section__bar__trainer {
          margin-left: 6rem;
          margin-bottom: 16rem; }
        .captura__main__section__bar div {
          font-family: gameboy; }
      .captura__main__section__img {
        width: 280px;
        height: 280px; }
        .captura__main__section__img img {
          width: 280px; }
        .captura__main__section__img__enemy {
          margin-top: 6rem;
          margin-left: 6rem; }
        .captura__main__section__img__trainer {
          margin-left: 8rem;
          margin-top: 9rem; }
    .captura__main__opciones {
      background-color: aqua;
      position: absolute;
      width: 1024px;
      height: 205px;
      margin-top: 575px;
      z-index: 999;
      display: flex; }
      .captura__main__opciones__pokebola {
        border: solid black 3px;
        width: 100%; }
      .captura__main__opciones__menu {
        border: solid black 3px;
        width: 100%;
        display: grid;
        grid-template-areas: 'auto auto'; }
        .captura__main__opciones__menu div {
          border: solid black 1px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .captura__main__opciones__menu div a {
            width: 100%;
            height: 100%;
            text-decoration: none; }
          .captura__main__opciones__menu div button {
            height: 100%;
            width: 100%;
            font-family: gameboy; }

.item10 {
  grid-area: BarEnemy; }

.item20 {
  grid-area: ImgEnemy; }

.item30 {
  grid-area: BarTrainer; }

.item40 {
  grid-area: ImgTrainer; }

.item50 {
  grid-area: footer; }

.item1 {
  grid-area: nombre; }

.item2 {
  grid-area: tipos; }

.item3 {
  grid-area: pokemon; }

.item4 {
  grid-area: id; }

.pokedex {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 1300px; }
  .pokedex div {
    color: black;
    text-align: center;
    font-family: gameboy; }
  .pokedex__img {
    position: absolute;
    width: 1300px;
    z-index: -99; }
  .pokedex__pantalla {
    background-size: 30px 32px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    border-radius: 0.3rem;
    width: 572px;
    height: 386px;
    margin-left: 364px;
    display: grid;
    grid-template-areas: 'nombre id' 'pokemon tipos' 'pokemon tipos'; }
    .pokedex__pantalla__img {
      height: 90%; }
    .pokedex__pantalla .item2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .pokedex__pantalla .item1, .pokedex__pantalla .item4, .pokedex__pantalla .item2 {
      padding: 1rem; }
      .pokedex__pantalla .item1 div, .pokedex__pantalla .item4 div, .pokedex__pantalla .item2 div {
        background-color: white;
        padding: 0.3rem;
        border-radius: 0.6rem;
        border: solid 1px gray; }

.input {
  text-align: center;
  margin-top: 8px; }
  .input input {
    background-color: black;
    border-radius: 0.5rem;
    color: green;
    font-family: gameboy;
    text-align: center; }

.br1 {
  height: 8.8rem; }
